* {margin:0; padding:0}
body {font:12px Verdana,Arial; color:#555; background:#ddd;}
#wrapper2 {
			width:740px; 
			-webkit-border-radius:20px 20px 20px 20px;}
#container2 {position:relative; background:#fff; padding:32px; height:235px; border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.sliderbutton2 {float:left; width:25px; height:235px; cursor:pointer}
#slideleft2 {background:url(../images/icons.gif) -50px -265px no-repeat}
#slideleft2:hover {background-position:-0 -265px}

#slideright2 {background:url(../images/icons.gif) 0 90px no-repeat}
#slideright2:hover {background-position:-50px 90px}
#slider2 {float:left; position:relative; overflow:auto; width:568px; height:235px}
#slider2 ul{position:absolute; list-style:none; top:20; left:0}
#slider2 li {float:left; width:668px; height:235px}
.pagination2 {position:absolute; top:40px; right:61px; list-style:none; height:25px}
.pagination2 li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 4px 0 0; border:1px solid #fff}
.pagination2 li:hover, li.current {background:#fff}