@charset "utf-8";
/* CSS Document */

*{
	font-family:Calibri;	
}
body{
	padding-bottom:55px;	
}
.header{
	background-image:url(../images/asset/background.png);
	background-position-y: -26px;
	
}
#primary{

	z-index:1;	
}
.Border-Color-DarkBlue{
	border:solid 1px #013064;	
}
.Border-Radius-Style1{
        border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
}
.Border-Radius-Style2{
         border-radius:10px 0px 0px 0px;
	-webkit-border-radius:10px 0px 0px 0px;
	-moz-border-radius:10px 0px 0px 0px;
}
.Border-Radius-Style3{
         border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;	
}
.Left-Margin{
	margin-left: 10px;	
}
.Left-Margin2{
	margin-left:15px;	
}
.Left-Margin-Minus1{
	margin-left:-57px;	
}
.Left-Margin-Minus2{
	margin-left:-60px;	
}
.Top-Margin-Minus1{
	Margin-top:-30px;	
}
.Top-Margin1{
	margin-top:5px;	
}
.Top-Margin2{
	margin-top:20px;	
}
.Top-Margin3{
	margin-top:30px;	
}
.form-Right{
	float:right;	
}
.separator1{
	height:20px;	
}
.separator{
	height:44px;	
}
.separator-verySmall{
	height:40px;	
}
.separator-small{
	height:45px;	
}
.separator-medium{
	height:50px;	
}
.styleBackground-SolidColor-Red{
	background-color:#F00	
}
.styleBackground-SolidColor-Blue{
	background-color:#06F;	
}
.styleBackground-SolidColor-Grey{
	background-color:#f0f0f0;	
}
.styleBackground-SolidColor-LightBlue{
	background-color:#0171bd;	
}
.Text-Align-Left{
	text-align:left;	
}
.Text-Align-Center{
	text-align:center;	
}
.Text-Align-Right{
	text-align:right;	
}
.Text-Align-Justify{
	text-align:justify;	
}
.Tr-Size-Medium{
	height:40px;	
}
.Gradient-Style1{
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
        background: -ms-linear-gradient(top,  #1568ae,  #1a3666);
/*	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');	*/
}
.Gradient-Style2{
	color: #fef4e9;
	border: solid 1px #ffffff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#32a5dc), to(#1176be));
	background: -moz-linear-gradient(top,  #32a5dc,  #1176be);
        background: -ms-linear-gradient(top,  #32a5dc,  #1176be);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#32a5dc', endColorstr='#1176be');*/	
}
.Gradient-Style3{
	background: #014464;
        background: -ms-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	 background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #193968), color-stop(.5, #006ab4), color-stop(.5, #006ab4), to(#193968)); 
}
.Gradient-Style4{
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
	background: -moz-linear-gradient(top,  #fff,  #e5e5e5);
        background: -ms-linear-gradient(top,  #fff,  #e5e5e5);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e5e5e5');*/		
}
.Gradient-Style5{
	background: -webkit-gradient(linear, left top, left bottom, from(#fafaf8), to(#d6d1cb));
	background: -moz-linear-gradient(top,  #fafaf8,  #d6d1cb);
        background: -ms-linear-gradient(top,  #fafaf8,  #d6d1cb);
        
}
.Solid-White{
	background:#FFF;	
}
.Solid-Grey{
	background:#f2f2f2;	
}
.separator-Vertical{
	border-right:solid 1px #CCCCCC;	
}
.Font-Color-Red{
	color:#F00;	
}
.Font-Color-White{
	color:#FFF;
	text-decoration:none;	
}
.Font-Color-DarkBlue{
	color:#1d3563;	
}
.Font-Color-LightBlue{
	color:#0171bd;	
}
.Font-Style-Bold{
	font-weight:bold;	
}
.Font-Size-Small{
	font-size:80%;	
}
.Font-Size-Large{
	font-size:26px;
}
.Font-Size-Medium{
	font-size:16px;	
}
.Div-Style-Header{
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;	
}
.Div-Style-Content{
	padding-left:10px;	
}
.Input-Size-Medium{
	width:400px;	
}
.Input-Size-Small{
	width:350px;	
}
.Input-Size-VerySmall{
	width:150px;	
}
.Input-Style1{
	border:solid #1976bc;
	background-image:url(../images/asset/bgComboBox1.png);
	-webkit-appearance:none;	
}
.Input-Style2{
	border:solid #1976bc;	
}
.Line-Size-Medium{
	width:400px;
}
.padding-all-small{
	padding:5px;	
}
.padding-bottom-small{
	padding-bottom:10px;	
}
.padding-left-verySmall{
	padding-left:20px;	
}
.padding-left-verySmall2{
	padding-left:35px;	
}
.padding-left-small{
	padding-left:60px;	
}
.padding-left
.padding-top-small{
	padding-top:20px;	
}
.nav{
	margin-left:5px;
	margin-bottom:5px;	
}

.Gadget-Tab .nav-tabs li a{
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
        background: -ms-linear-gradient(top,  #1568ae,  #1a3666);
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');*/
}
.ad-thumb-list{
	background-color:#333;
	margin-left:10px;
	border:solid 3px #616161;

}

.file-icon
{
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 5px;
}

.img-file { background-image: url('../images/jpg.png') }
.doc-file { background-image: url('../images/doc.png') }
.pdf-file { background-image: url('../images/pdf.png') }
.xls-file { background-image: url('../images/xls.png') }
.zip-file { background-image: url('../images/zip.png') }
.default-file { background-image: url('../images/default.png') }

#example .file-heading
{
    font-family: Arial;
    font-size: 1.1em;
    
    float: left;
    
    margin: 5px 0 0 20px;
    height: 25px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

#example .file-name-heading
{
    font-weight: bold;
}

 #example .file-size-heading
{
    font-weight: normal;
    font-style: italic;
}

#example2 .file-heading
{
    font-family: Arial;
    font-size: 1.1em;
    
    float: left;
    
    margin: 5px 0 0 20px;
    height: 25px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

#example2 .file-name-heading
{
    font-weight: bold;
}

 #example2 .file-size-heading
{
    font-weight: normal;
    font-style: italic;
}

li.k-file .file-wrapper .k-upload-action
{
    position: absolute;
    top: 0;
    right: 0;
}

li.k-file div.file-wrapper
{
    position: relative;
    height: 75px;
}

/* new style */
.Transparent-Navbar
{
	background: none;
	padding-left: 0;
}

.Noborder-Navbar
{
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

@font-face
{
	font-family: eurostile;
	src: url('eurosti.ttf'),
	     url('Sansation_Light.eot'); /* IE9 */
}

.Font-Color-Navbar
{
	color: #1467AD;
	font-family: eurostile;
	font-size: 16px;
}

.Border-Bottom-Navbar {
	width: auto;
	height: 5px;
	background: white;
	padding-left: 15px;
	padding-right: 15px;
}

.nav > li:hover, .nav > li:focus {
	background: none !important;
}

.nav > li:hover > .Border-Bottom-Navbar, .nav > li:focus > .Border-Bottom-Navbar {
	background: url('../images/asset/navbar-hover.png') no-repeat #1467AD;
	padding-left: 15px;
	padding-right: 15px;
}

.nav > li:hover > a, .nav > li:focus > a {
	font-family: eurostile;
	font-size: 16px;
	color: #2691BC;

}

.nav > li > a {
	padding-bottom: 7px !important;
}

.nav > li.home-button > a {
	padding-bottom: 2px !important;
}

#menuDiv {
	height: 51px;
}

#rightHeader {
	width: 78%;
	margin-left: 1%;
}

#leftHeader {
	width:	21%;
}

#login-button {
	width: 95px;
	height: 45px;
	border: 0;
	border-radius: 0;
	background: #1467AD;
	padding-right: 10px;
	color: white;
	font-family: eurostile;
	font-size: 16px;
	border-left: solid 3px #fff;
	margin-left: 21px;
}

#login-button:hover, #login-button:focus {
	background: #2691BC;
}

#login-forms {
	width: 472.5px;
	background: linear-gradient(to right, transparent 136px, rgba(20,103,173,1) 136px), url('../images/asset/login-form.png') no-repeat;
	background: -webkit-gradient(linear, to right, transparent 136px, rgba(20,103,173,1) 136px), url('../images/asset/login-form.png') no-repeat;
	background: -moz-linear-gradient(to right, transparent 136px, rgba(20,103,173,1) 136px), url('../images/asset/login-form.png') no-repeat;
	background: -ms-linear-gradient(to right, transparent 136px, rgba(20,103,173,1) 136px), url('../images/asset/login-form.png') no-repeat;
	background-position-y: -1px;  
}

#login-email {
	margin-left: 68.676px;
	border: 0;
	border-left: solid 1.5px #E6E7E8;
	border-top: solid 1.5px #E6E7E8;
	width: 140px;
	height: 10.75px;
	border-radius: 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	font-family: eurostile;
	font-size: 13px;
}

#login-email::-webkit-input-placeholder { text-align: center; }
#login-email::-moz-placeholder { text-align: center; } /* firefox 19+ */
#login-email:-ms-input-placeholder { text-align: center; } /* ie */

#login-password {
	margin-left: 10px;
	border: 0;
	border-left: solid 1.5px #E6E7E8;
	border-top: solid 1.5px #E6E7E8;
	width: 113.667px;
	height: 10.75px;
	border-radius: 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	font-family: eurostile;
	font-size: 13px;
}

#login-password::-webkit-input-placeholder { text-align: center; }
#login-password::-moz-placeholder { text-align: center; } /* firefox 19+ */
#login-password:-ms-input-placeholder { text-align: center; } /* ie */

#member-baru {
	margin-left: 68.676px;
	display: inline-block;
	width: 150px;
	font-family: eurostile;
	font-size: 13px;
	color: #1467AD;
}

#member-baru:hover, #member-baru:focus {
	color: #2691BC;
}

#remember-me {
	margin-left: 10px;
	display: inline-block;
	width: 122px;
	font-family: eurostile;
	font-size: 13px;
	color: #1467AD;
}

#login-form-below {
	width: 472.5px;
	vertical-align: center;
}

#forget-password {
	margin-left: 24px;
	display: inline-block;
	width: 87px;
	font-family: eurostile;
	font-size: 13px;
	color: #1467AD;
}

#forget-password:hover, #forget-password:focus {
	color: #2691BC;
}

#loginDiv-logon {
	height: 126px;
}

.tagline {
	font-family: eurostile;
	font-size: 24px;
	color: white;
	background: #1467AD;
	height: 60px;
	text-align: center;
}

.tagline-text {
	vertical-align: middle;
	font-family: eurostile;
	margin-top:20px;
}

.anythingSlider {
	width:	705px !important;
	height: 340px !important;
}

.latest-news-header {
	font-family: eurostile;
	font-size: 16px;
	font-weight: normal !important;
	padding-left: 16px !important;
	background: none !important;
	border: 0 !important;
	border-bottom: solid 1px #1467AD !important;
}

.latest-news-td {
	padding: 12px 0px 0px !important;
	border: 0 !important;
}

.latest-news-body {
	height: 55px;
	font-family: Arial;
	margin-left: 10px;
	padding-left: 6px;
	padding-bottom: 6px;
	border-bottom: solid 1px #A7A9AC !important;
}

.latest-news-body > a > label {
	font-family: Arial;
	font-size: 13px;
	color: #58595B;
}

.latest-news-body > p {
	font-family: Arial;
	font-size: 13px;
	color: #A7A9AC;
}

.latest-news-body > span {
	font-family: Arial;
	font-size: 13px;
	color: #A7A9AC;
}

.div-header {
	font-family: eurostile;
	font-size: 16px;
	color: #414042;
	width: 58.6% !important;
	padding-left: 14px;
	min-height: 16px !important;
	margin-bottom: 21px !important;
	padding-bottom: 4px;
	border-bottom: solid 1px #1467AD;
}

.div-content {
	padding-top: 6px;
	background: rgba(230,231,232,0.5);
}

.div-input {
	margin-top: 15px;
	margin-left: 14px;
	width: 94.53125%;
	border: 0;
	border-radius: 0;
	border-left: solid 4px #E6E7E8;
	border-top: solid 3px #E6E7E8;
	font-family: eurostile;
	font-size: 13px;
	height: 32px;
	padding: 6px 0px 6px 8px;

}

.div-input-harga {
	margin-top: 15px;
	margin-left: 14px;
	width: 76.953125%;
	border: 0;
	border-radius: 0;
	border-left: solid 4px #E6E7E8;
	border-top: solid 3px #E6E7E8;
	font-family: eurostile;
	font-size: 13px;
	height: 32px;
	padding: 6px 0px 6px 8px;
}

.div-input-button {
	margin-top: 15px;
	margin-left: 18px;
	width: 72px !important;
	height: 32px;
	background: #1467AD;
	border: 0;
	border-radius: 0;
	font-family: eurostile;
	font-size: 13px;
	color: white;
}

.div-input-button:hover, .div-input-button:focus {
	background: #2691BC;
}

.div-line {
	height: 40px;
	border-bottom: solid 3px #1467AD;
}

.div-slider {
	
	
}

.div-slider-header {
	width: 94.53125%;
	margin-top: 20px;
	margin-left: 14px;
	height: 36px;
}

.div-slider-content {
	width: 94.53125%;
	padding-top: 10px;
	margin-left: 14px;
	background: #939598;
	height: 100px;
}

.div-slider-header-left {
	height: 36px;
	width: 50%;
	cursor:pointer;
	display: inline-block;
	float: left;
	margin-left: 0;
	background: #2691BC;
}

.div-slider-header-right {
	height: 36px;
	width: 50%;
	cursor:pointer;
	display: inline-block;
	margin-left: 0;
	background: #2691BC;
}

.div-slider-header-choose {
	background: #1467AD;
}

.div-slider-prev {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 10000;
	display: inline-block;
	height: 130px;
}

.div-slider-next {
	position: relative;
	top: -260px;
	right: 0px;
	left: 95.863632227268590904954541318178%;
	z-index: 10000;
	display: inline;
}

.div-slider-image {
	position: relative;
	top: -130px;
	right: 0;
	z-index: 5000;
}

.bx-wrapper {
	max-width: 100% !important;
}

.bx-viewport {
	border: 0 !important;
	height: 130px !important;
	box-shadow: 0 0 0 !important;
	-webkit-box-shadow : 0 0 0 !important;
	-moz-box-shadow : 0 0 0 !important;
	width: 100%;
	left: 0 !important;
	background: none !important;
}

.bx-viewport img {
	max-width: 200% !important;
}

.bx-viewport li {
	width: 221.758px !important;
}