/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
#shortBisnisFranchiseWatchlist{
	margin-left:703px;
	margin-top:-25px;
	float:left;	
}
#shortBisnisFranchiseJual{
	margin-left: 703px;
	margin-top:-25px;
	float:left;	
}
#shortBisnisFranchiseBeli{
	margin-left: 702px;
	margin-top:-35px;
	float:left;	
}
#kontakDivMap{
	width:335px; 
	height:500px; 
	float:left; 
	border-left:solid #000 1px; 
	padding-left:50px; 
	font-family:Calibri; 
	color:#6f6e73;	
}
#tableLatestNews{
	width:1311px;	
}
#tableLatestNewsC1{
	width:198px;
}
#tableLatestNewsC2{
	width:342px;
}
#tableLatestNewsC3{
	width:232px;
}
#tableLatestNewsC4{
	width:519px;	
}
#shortBisnisFranchiseDetail{
	margin-top:-30px;
	float:left;
	margin-left:700px;	
}
#titleCariBisnis{
	font-size:26px;
	font-family:Calibri;
	color:#2f4ea8;	
}
#moto{
	position:relative; 
	top:15px;	
}

.imageGadgetClient{
	margin-left:13px; 
	margin-top:35px;
	width:70px;
	height:70px;
	border-radius:5px;
}
input[type=checkbox].css-checkbox {
	display:none;

}

#headerRegister{
	font-size:30px;
	
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:10px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}



/*specific classes related to Checkbox skins*/

.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}






/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/

#titleGadgetLeft{
	width:390px;
	height:35px;
	background-color:#f3f3f3;	
}

#gadgetLeft{
	width:385px; 
	height:170px; 
	background-color:#ffffff; 
	margin-left:29px;
}
#gadgetLeftSubtitleDiv{
	margin-left:20px; 
	margin-right:2px; 
	width:156px; 
	height:35px; 
	background-color:#000000; 
	float:left;	
}

#gadgetLeftSubtitleDiv2{
	margin-right:10px; 
	width:121px; 
	height:35px; 
	float:left;
}

#gadgetLeftSubtitleSpan{
	margin-left:15px; 
	color:#FFF; 
	top:8px; 
	position:relative;
}

#gadgetLeftSubtitleSpan2{
	margin-left:37px; 
	color:#FFF; 
	top:8px; 
	position:relative;
}

#imageNavGadgetLeft{
	float:left; 
	margin-top:60px;
	width:15px;
	height:30px;	
}

#imageNavGadgetRight{
	width:15px;
	height:30px;
	float:right;
	margin-top:60px;	
}

#imageClientGadgetLeft{
	width:172px;
	height:155px;
	float:left;
	margin-left:5px;
	margin-top:4px;	
}

#imageClientGadgetRight{
	width:172px;
	height:155px;
	float:left;
	margin-left:1px;
	margin-top:4px;	
}






.formTR{
	height:55px;
}


#textLoginNama{
	width:120px;
	height:30px;
	 border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	padding-left:5px;

}
#textLoginPassword{
	width:120px;
	height:30px;
	 border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	padding-left:5px;
}
#checkLoginSaveUsername{
	 border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	
	width:110px;
	height:30px;
}






#tableDataDiriCol1{
	width:379px;
}
#tableDataDiriCol2{
	width:621px;
}
#tableDataDiriCol3{
	width:469px;
		
}
#tableDataDiriCol4{
	width:153x;	
}
.headerBisnis{
	font-size:30px; 
	font-family:Calibri;
}
body{
	
	background:url(../images/1.png) repeat-x;
}

#primaryDiv{
	width:1200px;
	margin-left:75px;
}
#leftPrimaryDiv{
	width:300px;
	float:left;
}

#rightPrimaryDiv{
	width:900px;
	float:left;
}
#logoDiv{
	width:200px;
	height:190px;
	margin-top:-16px;
	background:url(../images/logo.png);
	margin-left:100px;
	margin-bottom:15px;
}
#sideBarDiv{
	width:200px;
	height:600px;
	margin-left:70px;
}
#loginDiv{
	width:900px;
	height:100px;
}
#menuDiv{
	width:945px;
	height:50px;
	padding-top:20px;	
}


#slideShowDiv{
	width:900px;
	height:300px;
	background-image:url(../images/slideShow.png);	
}
#gadgetsDiv{
	width:900px;
	height:400px;
	margin-top:20px;	
}
#gadgetsLeftDiv{
	width:440px;
	height:450px;
	background-color:#339;
	float:left;
	-webkit-border-radius:0px 0px 15px 15px;
	-moz-border-radius:0px 0px 15px 15px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');	
}
#gadgetsRightDiv{
width:440px;
	height:450px;
	margin-left:20px;
	background-color:#339;
	float:left;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	-webkit-border-radius:0px 0px 15px 15px;
	-moz-border-radius:	0px 0px 15px 15px;
}
#footer{
	width:1200px;
	height:50px;
	clear:both;
	background-color:#C63;	
}
#loginTable{
	margin-left:338px;
	color:#585858;
	font-family:Calibri;	
}
#content{
	margin-top:10px;
	width:900px;	
}
#motoDiv{
	WIDTH:900px;
	height:70px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));
	
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
	border-radius:5px;
}
#motoDiv h3{
	font-family:Calibri;	
}

#menuDiv .spanMenu{
	padding:10px;
	padding-left:37px;
	padding-right:27px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
	margin-left:-5px;
 	
}

#menuDiv .spanMenuLogin{
	padding:10px;
	padding-left:16px;
	padding-right:27px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
	margin-left:-5px;
 	
}

/*#menuDiv .spanMenu:hover{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#80807e));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#80807e');
	
	
}

#menuDiv .spanMenuLogin:hover{
	padding:10px;
	padding-left:16px;
	color: #fef4e9;
	padding-right:27px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#80807e));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#80807e');
}
*/
#leftSpanMenu{
	border-radius:8px 0px 0px 0px;
	padding:10px;	
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
}
#leftSpanMenu img{
	top:10px;
	position:relative;
}
#titleSideBar{
	border-top:solid #333 1px; 
	border-bottom:solid #333 1px;
}

/*#leftSpanMenu:hover{
	padding:10px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#80807e));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#80807e');
}*/
#rightSpanMenu{
	margin-left:-5px;  
	border-radius:0px 8px 0px 0px;	
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
}

#rightSpanMenu:active{
	
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#fff');
}


#C1{
	width:135px;
	float:left;	
}
#C2{
	width:640px;
	float:left;	
}
#C3{
	width:100px;
	float:left;
	margin-left:0px;	
	border-left:solid 1px #666666;
	padding-left:15px;
}
#C3 font{
	font:#6f6f71;
	margin-left:15px;	
}

#shortBisnisFranchise{
	margin-left: 805px;
	margin-top:-35px;
	float:left;	
}
#tableBeli tr td{
	padding:10px;	
}

#jualBisnisDiv{
	width:900px;	
}
#registerDiv{
	width:900px;	
}

#homeSidebar tr{
		padding:0px;
}
#sidebarJualBisnisFranchise a:hover div{	 
	color:#FFF;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-bottom:solid 0px #999;
	padding-left:9px;
}

#subMenuDivBeli{
	width:200px; 
	height:33px; 
	border-top:solid 1px #a5a5a5; 
	padding-top:9px; 
	padding-bottom:1px; 
	color:#1e3466;
}

#subMenuDivJual{
	width:200px; 
	height:33px; 
	border-top:solid 1px #a5a5a5;  
	color:#1e3466; 
	padding-top:9px; padding-bottom:1px;
}

#subMenuDivWatchlist{
	width:200px; 
	height:33px; 
	border-top:solid 1px #a5a5a5;  
	color:#1e3466; 
	padding-top:9px; 
	padding-bottom:1px;
}

#subMenuDivDataDiri{
	width:200px; 
	height:33px; 
	border-bottom:solid 1px #a5a5a5; 
	border-top:solid 1px #a5a5a5;  
	color:#1e3466; 
	padding-top:9px; 
	padding-bottom:1px;
}

#gadgetBottomLeft tr td img{
		width:170px;
		height:170px;
}
#gadgetBottomLeft tr td #imgGadgetBottomLeft{
	width:30px;
	height:30px;	
}

#gadgetBottomRight tr td img{
	width:170px;
	height:170px;	
}
#gadgetBottomRight tr td #imgGadgetBottomRight{
	width:30px;
	height:30px;	
}

#primaryArtikelDiv{
	width:900px;	
}

#kontakDiv{
	width:475px;
	float:left;	
}

#tableDiv tr{
	height:40px;	
}

.styleSubmit1{
	color: #fef4e9;
	border: solid 1px #ffffff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#32a5dc), to(#1176be));
	background: -moz-linear-gradient(top,  #32a5dc,  #1176be);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#32a5dc', endColorstr='#1176be');
	border-radius:3px;
	padding-left:-5px;
	padding-right:40px;
	 height:30px;
	 width:90px;
	 background:url(../images/bgButton.png);
	 
	 
}


.input[type="text"]{
	width:120px;
	height:25px;
	 padding: 5px;   
    border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
.styleText1{
	width:200px;
	padding: 5px;   
    border: 1px solid #1076bd;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
}

.styleSelect1{
	width:340px;
	height:27px;
	border-radius:5px;
	padding: 5px;   
    border: 1px solid #DDDDDD; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafaf8), to(#d6d1cb));
	background: -moz-linear-gradient(top,  #fafaf8,  #d6d1cb);
	background:url(../images/bgComboBox.png);	
	-webkit-appearance:none;
	-moz-appearance:none;
}

.titleGadgets{
	background: #f78d1d;background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
	height:50px;
	padding-top:10px;
}
.titleGadgets span{
	font-size:25px; 
	margin-left:200px;
	color:#FFF;
}
.subTitleGadgets{
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));	
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
    color:#FFF;
	font-family:Calibri;
	
}

.subTitleGadgets header{
	color:#fff;	
}

.styleSelect2{
	width:200px;
	height:29px;
	padding: 5px;   
    border: 1px solid #0f75bd; 
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
	background: -moz-linear-gradient(top,  #000,  #000);
	background:url(../images/bgComboBox2.png);
	-webkit-appearance:none;
	-moz-appearance:none;
	color:#25559d;	
}
.styleSelect3{
	width:100px;
	height:28px;
	padding: 5px;   
    border: 1px solid #0f75bd; 
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
	background: -moz-linear-gradient(top,  #000,  #000);
	background:url(../images/bgComboBox3.png);
	-webkit-appearance:none;
	-moz-appearance:none;	
}

.styleText1{
	border: solid 1px #0f75bd;
	width:200px;
}
.styleTextarea1{
	width:300px;
	height:200px;	
}

.styleSubmit2{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	 height:30px;
	 width:100px;
}
.titleSidebar:hover{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-radius:2px;
}
.tableSidebar{
	margin-top:-10px;	
}
.tableSidebar tr td{
	color:#163564;	
}

.tableSidebar tr td:hover a{
	color:#fff;	
}
.longText{
	width:200px;
	height:25px;
	padding: 5px;   
    border: 1px solid #0f75bd;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}

.styleRadio1{  
    border: 1px solid #1076bd;
}

.styleTextarea2{
	width:900px;
	height:500px;
}


.artikelDiv{
	width:900px; 
}
.oneArtikelDiv{
	width:900px; 
	height:200px;
}
.lineArtikel{
	height:2px; 
	margin-top:0px;
}
.imageShareArtikel{
	left:510px; 
	position:relative;
}
.headerArtikelDiv{
	width:900px; 
	height:30px;
	font-size:20px;
	font-family:Calibri;
	color:#29559c;
}
.imageArtikelDiv{
	float:left;
}
.contentArtikelDiv{ 
	width:750px; 
	height:150px; 
	float:left;
	margin-bottom:10px;	
}
.authorArtikelDiv{
	width:720px;
	margin-left:5px; 
	height:30px;
	color:#29559c;
	font-family:Calibri;	
}
.storyArtikelDiv{
	width:750px; 
	margin-left:5px;  
	text-align:justify;	
}
.artikelIconDiv{
	width:140px;
	float:left;
	margin-left:260px;
}

strong{
	color:#1d3364; 
	font-family:Calibri;
}
td{
	color:#575757; 
	font-family:Calibri;
}
th{
	color:#1d3364; font-family:Calibri
}

input[type="search"]{  
 	-webkit-box-shadow: 0 0 2px #DDDDDD;
	-moz-box-shadow:0 0 2px #DDDDDD;
     border: 1px solid #DDDDDD; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background:url(../images/iconSearch.png) no-repeat;
	padding-left:70px;
    border-radius: 15px 3px 3px 15px;
	width:340px;
	background-color:#FFF;
	-webkit-appearance: none;
	-moz-appearance:none;
	height:33px;
}

header,h1,h2{
	color:#28549d;
	font-family:Calibri;	
}

header,h1,h2 a{
	text-decoration:none;
	color:#28549d;
	font-family:Calibri;	
}


input[type="button"]{
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-radius:2px;
	 height:30px;
	 width:100px; 		
}

button{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-radius:2px;
	 height:30px;
	 width:100px; 
}
button a{
	text-decoration:none;
	color:#FFF;
}
span{
	color:#2b55a1;		
}
a{
	text-decoration:none;
	color:#5a5a5a;	
}

@media screen and (max-width: 1280px) {
	#primaryDiv{
	width:1200px;
	margin-left:75px;
}
#leftPrimaryDiv{
	width:300px;	
	float:left;
}

#rightPrimaryDiv{
	width:770px;
	float:left;
}
#logoDiv{
	width:200px;
	height:190px;
	background:url(../images/logo.png);
	margin-left:100px;
}
#sideBarDiv{
	width:200px;
	height:600px;
	margin-left:70px;
}
#loginDiv{
	width:770px;
	height:100px;
}
#menuDiv{
	height:50px;
	padding-top:20px;	
}


#slideShowDiv{
	width:750px;
	height:300px;
	background-image:url(../images/slideShow.png);	
}
#gadgetsDiv{
	width:750px;
	height:400px;
	margin-top:20px;	
}
#gadgetsLeftDiv{
	width:359px;
	height:430px;
	background-color:#339;
	float:left;
	-webkit-border-radius:0px 0px 15px 15px;
	-moz-border-radius:0px 0px 15px 15px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e8e8e8');	
}
#gadgetsRightDiv{
width:359px;
	height:430px;
	margin-left:30px;
	background-color:#339;
	float:left;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e8e8e8));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e8e8e8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e8e8e8');
	-webkit-border-radius:0px 0px 15px 15px;
	-moz-border-radius:	0px 0px 15px 15px;
}
#footer{
	width:1200px;
	height:50px;
	clear:both;	
}
#loginTable{
	margin-left:185px;
	color:#585858;
	font-family:Calibri;	
}
#content{
	margin-top:10px;
	width:750px;	
}
#motoDiv{
	width:750px;
	height:70px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));	
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
	border-radius:5px;
}
#motoDiv h3{
	font-family:Calibri;	
}
.styleSubmit1{
		color: #fef4e9;
	border: solid 1px #ffffff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#32a5dc), to(#1176be));
	background: -moz-linear-gradient(top,  #32a5dc,  #1176be);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#32a5dc', endColorstr='#1176be');
	border-radius:3px;
	padding-left:-5px;
	padding-right:40px;
	 height:30px;
	 width:90px;
	 background:url(../images/bgButton.png);
	 
}


.input[type="text"]{
	width:120px;
	height:25px;
	 padding: 5px;   
    border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
.styleText1{
	width:200px;
	 padding: 5px;   
    border: 1px solid #1076bd;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
}
strong{
	color:#1d3364; 
	font-family:Calibri;
}
td{
	color:#575757; 
	font-family:Calibri;
}
th{
	color:#1d3364; font-family:Calibri
}
.styleSelect1{
	width:280px;
	height:27px;
	border-radius:5px;
	padding: 5px;   
    border: 1px solid #DDDDDD; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#fafaf8), to(#d6d1cb));
	background: -moz-linear-gradient(top,  #fafaf8,  #d6d1cb);
	background:url(../images/bgCombo1280.png);
	-webkit-appearance:none;
	-moz-appearance:window;
	overflow:hidden;
}
input[type="search"]{  
 	-webkit-box-shadow: 0 0 2px #DDDDDD;
 	-moz-box-shadow:0 0 2px #DDDDDD;
    border: 1px solid #DDDDDD; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background:url(../images/iconSearch.png) no-repeat;
	padding-left:70px;
    border-radius: 15px 3px 3px 15px;
	width:280px;
	background-color:#FFF;
	-webkit-appearance: none;
	-moz-appearance:none;
	height:33px;
	}
#titleSideBar{
	border-top:solid #333 1px; 
	border-bottom:solid #333 1px;
}
#menuDiv .spanMenu{
	padding:10px;
	padding-left:26px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#136ab1');
	margin-left:-5px;
	font-family:Calibri;
 	
}
#menuDiv .spanMenuLogin{
	padding:10px;
	padding-left:13px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#136ab1');
	margin-left:-5px;
 	
}

/*#menuDiv .spanMenuLogin:hover{
	padding:10px;
	padding-left:11px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#fff');
	margin-left:-5px;
 	
}*/


#leftSpanMenu{
	border-radius:8px 0px 0px 0px;
	padding:10px;	
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
}

#leftSpanMenu:active{
	padding:10px;
	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#fff');
}

#rightSpanMenu{
	margin-left:-5px;  
	border-radius:0px 8px 0px 0px;
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1a3665), to(#136ab1));
	background: -moz-linear-gradient(top,  #1a3665,  #136ab1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a3665', endColorstr='#136ab1');
}

#rightSpanMenu:active{

	color: #fef4e9;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background: -moz-linear-gradient(top,  #000,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#fff');
}

.titleGadgets{
	background: #f78d1d;background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
	height:50px;
	padding-top:10px;
}
.titleGadgets span{
	font-size:25px; 
	margin-left:150px;
	color:#FFF;
}
.subTitleGadgets{
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1369b2), to(#193564));	
	background: -moz-linear-gradient(top,  #1369b2,  #193564);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1369b2', endColorstr='#193564');
    color:#FFF;
    
	width:100px;
}

.subTitleGadgets header{
	color:#fff;	
}

#C1{
	width:130px;
	float:left;	
}
#C2{
	width:500px;
	float:left;	
}
#titleCariBisnis{
	font-size:26px;
	font-family:Calibri;
	color:#2f4ea8;	
}
#C3{
	width:100px;
	float:left;	
	border-left:solid 1px #666666;
	padding-left:15px;
}
#C3 font{
	font:#6f6f71;
	margin-left:15px;	
}
header,h1,h2{
	color:#28549d;
	font-family:Calibri;	
}

header,h1,h2 a{
	text-decoration:none;
	color:#28549d;
	font-family:Calibri;	
}
.styleSelect2{
	width:200px;
	height:28px;
	padding: 5px;   
    border: 1px solid #0f75bd; 
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
	background: -moz-linear-gradient(top,  #000,  #000);
	background:url(../images/bgComboBox2.png);
	-webkit-appearance:none;
	-moz-appearance:window;	
}
.styleSelect3{
	width:100px;
	height:30px;
	padding: 5px;   
    border: 1px solid #0f75bd; 
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
	background: -moz-linear-gradient(top,  #000,  #000);
	background:url(../images/bgComboBox3.png);
	-webkit-appearance:none;
	-moz-appearance:window;	
}
#shortBisnisFranchise{
	margin-top:-30px;
	float:left; 
	margin-left:650px;	
}
#shortBisnisFranchiseDetail{
	margin-top:-30px;
	float:left;
	margin-left:550px;	
}
input[type="button"]{
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-radius:2px;
	 height:30px;
	 width:100px; 		
}

button{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1568ae));
	background: -moz-linear-gradient(top,  #1568ae,  #1568ae);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1568ae');
	border-radius:2px;
	 height:30px;
	 width:100px; 
}
.styleText1{
	border: solid 1px #0f75bd;
	width:200px;
}
.styleTextarea1{
	width:220px;
	height:200px;	
}
button a{
	text-decoration:none;
	color:#FFF;
}
.styleSubmit2{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	 height:30px;
	 width:100px;
}
.titleSidebar:hover{
	color: #fef4e9;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
	border-radius:2px;
}
.tableSidebar tr td{
	color:#163564;	
}

.tableSidebar tr td:hover a{
	color:#fff;	
}
.longText{
	width:200px;
	height:25px;
	 padding: 5px;   
    border: 1px solid #0f75bd;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}
span{
	color:#2b55a1;		
}
#jualBisnisDiv{
	width:750px;	
}
#registerDiv{
	width:750px;	
}
a{
	text-decoration:none;
	color:#5a5a5a;	
}

#homeSidebar tr{
		padding:0px;
}
#sidebarJualBisnisFranchise tr td:hover{
	 
	color: #fff;
	border: solid 1px #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#1568ae), to(#1a3666));
	background: -moz-linear-gradient(top,  #1568ae,  #1a3666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1568ae', endColorstr='#1a3666');
}	
.styleRadio1{  
    border: 1px solid #1076bd;
}

#gadgetBottomLeft tr td img{
		width:150px;
		height:150px;
}
#gadgetBottomLeft tr td #imgGadgetBottomLeft{
	width:20px;
	height:20px;	
}

#gadgetBottomRight tr td img{
	width:150px;
	height:150px;	
}
#gadgetBottomRight tr td #imgGadgetBottomRight{
	width:20px;
	height:20px;
}
.styleTextarea2{
	width:750px;
	height:400px;	
}

#primaryArtikelDiv{
	width:750px;	
}
.artikelDiv{
	width:650px;
}
.artikelIconDiv{
	width:250px;
	float:left;
	margin-left:620px;
}
#kontakDiv{
	width:360px;
	float:left;	
}
#tableDiv tr{
	height:40px;	
}
#tableBeli tr td{
	padding:5px;	
}

#textLoginNama{
	width:110px;
	height:30px;
	 border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
#textLoginPassword{
	width:110px;
	height:30px;
	 border: 1px solid #DDDDDD;
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
}









#gadgetLeft{
	width:325px; 
	height:150px; 
	background-color:#ffffff; 
	margin-left:19px;
}
#gadgetLeftSubtitleDiv{
	width:130px;
	height:30px; 
	float:left;
	font-size:13px;
}

#gadgetLeftSubtitleDiv2{ 
	width:90px;
	height:30px; 
	float:left;
	font-size:13px;
}

#gadgetLeftSubtitleSpan{
	margin-left:18px; 
	color:#FFF; 
	top:8px; 
	position:relative;
}

#gadgetLeftSubtitleSpan2{
	margin-left:25px; 
	color:#FFF; 
	top:8px; 
	position:relative;
}


#titleGadgetLeft{
	width:325px;
	height:30px;
	background-color:#f3f3f3;	
}

#imageNavGadgetLeft{
	float:left; 
	margin-top:50px;
	width:15px;
	height:20px;	
}

#imageNavGadgetRight{
	width:15px;
	height:20px;

	margin-top:50px;	
}

#imageClientGadgetLeft{
	width:140px;
	height:135px;
	float:left;
	margin-top:4px;	
}

#imageClientGadgetRight{
	width:140px;
	height:135px;
	float:left;
	margin-top:4px;	
}


.artikelDiv{
	width:750px; 
}

.oneArtikelDiv{
	width:750px; 
}
.lineArtikel{
	margin-top:15px;
	width:750px;	
}
.imageShareArtikel{
	left:360px; 
	position:relative;
}
.headerArtikelDiv{
	width:750px; 
	height:30px;
	font-size:15px;
	font-family:Calibri;
	color:#29559c;
}
.imageArtikelDiv{
	float:left;
	margin-right:5px;
}
.contentArtikelDiv{ 
	width:600px; 
	height:150px; 
	float:left;

}
.authorArtikelDiv{
	width:570px;
	margin-left:2px; 
	height:30px;
	color:#29559c;
	font-family:Calibri;	
}
.storyArtikelDiv{
	width:600px; 
	margin-left:0px;
	text-align:justify;

}
.artikelIconDiv{
	width:140px;
	float:left;
	margin-left:260px;
}
.headerBisnis{
	font-size:20px; 
	font-family:Calibri;
}


#tableDataDiriCol1{
	width:449px;
}
#tableDataDiriCol2{
	width:571px;
}
#tableDataDiriCol3{
	width:469px;
		
}
#tableDataDiriCol4{
	width:153x;	
}

#headerRegister{
	font-size:25px;
	
}

.formTR{
	height:55px;
}

.imageGadgetClient{
	margin-left:7px; 
	margin-top:30px;
	width:60px;
	height:60px;
	border-radius:5px;
}
.labelSpanMenu{
	position:relative; 
	left:-5px;
}
#tableLatestNews{
	width:830px;	
}
#tableLatestNewsC1{
	width:290px;
}
#tableLatestNewsC2{
	width:490px;	
}
#tableLatestNewsC3{
	width:400px;
}
#tableLatestNewsC4{
	width:350px;
}
#kontakDivMap{
	width:335px; 
	height:500px; 
	float:left; 
	border-left:solid #000 1px; 
	padding-left:30px; 
	font-family:Calibri; 
	color:#6f6e73;	
}
#shortBisnisFranchiseBeli{
	margin-left: 552px;
	margin-top:-25px;
	float:left;	
}
#shortBisnisFranchiseJual{
	margin-left: 550px;
	margin-top:-25px;
	float:left;	
}

#shortBisnisFranchiseWatchlist{
	margin-left:550px;
	margin-top:-25px;
	float:left;	
}
}
